---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Khetho Mngomezulu" description="About Khetho Mngomezulu">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/khetho.JPG"
					alt="khetho at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My journey began at MSDC Inc (Pty) Ltd as a Junior Web Developer, where I built responsive and visually appealing websites using HTML5, CSS3, JavaScript, and Angular. Working alongside senior developers, I optimized website performance, contributed to project planning, and ensured the delivery of clean, maintainable code.
					</p>
					<p>
						With a strong foundation in both technical support and development, I bring a unique ability to bridge IT operations with software solutions. I am dedicated to providing innovative, user-focused solutions and delivering high-quality support in dynamic, fast-paced environments. As a versatile IT professional and web developer, I bring a unique blend of technical support expertise and creative development skills to every project. With a strong foundation in troubleshooting, network configurations, and development, I excel in bridging the gap between IT operations and software solutions.
					</p>
					<p>
					My journey in IT has honed my ability to design, implement, and maintain robust systems while ensuring end-user satisfaction through reliable technical support. At the same time, my passion for front-end, web and full-stack development enables me to craft user-centric, scalable, and efficient digital experiences that align with business objectives.
					Known for my proactive approach, attention to detail, and collaborative mindset, I thrive in dynamic, fast-paced environments where innovation and technical excellence are key. I am committed to leveraging my skills to solve complex challenges and deliver impactful results that drive organizational success.
					</p>
				</div>
			</section>
			<section>
			<!-- 	<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Programming & Development: HTML, CSS, JavaScript, Angular, Next.js, React, Node.js, C#, ASP.NET Core, Tailwind CSS, Bootstrap, Astro, Firebase, Java, Spring Boot<p>
Database Management: MSSQL, PostgreSQL, MongoDB, Prisma, DBeaver<p>
Tools & Platforms: Git, GitHub, VS Code, Figma, Vercel, Google Cloud API</p>
Networking & IT Support: TCP/IP, LAN/WAN, Cambium, MikroTik, UISP, Active Directory, Hyper-V, WiFiMan, Remote Desktop Services</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
