---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack Development</h2>
		<p>Build scalable software systems using C#, .NET, Node.js, React, Angular, SQL, and MongoDB. Experienced in developing APIs, databases, dashboards, automation tools, and applications, with a focus on performance, security, maintainability, and business impact.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="db" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Database Management</h2>
		<p>Design and optimise scalable databases using SQL, PostgreSQL, MongoDB, Firebase, and Firestore. Experienced in data modelling, query optimisation, reporting systems, API integration, and secure data management for high-performance applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="laptop" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Digital Architect</h2>
		<p> Develop end-to-end digital systems, including admin portals, dashboards, survey platforms, automation tools, and reporting solutions. Focused on streamlining processes, improving data visibility, and delivering scalable systems that support real-time decision-making and business growth.</p>
	</div>
</section>





<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
