---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Development</h2>
		<p>skilled in front-end development, utilizing technologies such as HTML5, CSS3, JavaScript, TypeScript, Next.Js, Angular, Node.js, and React to create responsive, user-friendly, and efficient web applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="db" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Database Management</h2>
		<p>Manage databases using PostgreSQL, MSSQL, and MongoDB and Firebase, ensuring data integrity, performance optimization, and smooth integration with web applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="laptop" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>IT Support</h2>
		<p> I excel in providing IT support, including troubleshooting, network configurations, hardware setups, and system maintenance, ensuring seamless operations and efficient user support in dynamic environments.</p>
	</div>
</section>





<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
